@import url('../App.css');

.container-to-the-top {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 2.3rem;

  float: right;
  position: fixed;
  right: 0;

 

  bottom: 10vh;
  color: white;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: 5px 0 0 5px;
  text-align: center;
  border: 1px solid var(--accent);
  border-right: none;

  transition: transform 0.5s;

}
.container-to-the-top:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 700px) {
  .container-to-the-top{
    width: 2rem;
    height: 2rem;
    font-size: 1.8rem;
  }
}
